.elements__grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

@media screen and (max-width: 960px){
    .elements__grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 660px){
    .elements__grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
