.profile__username{
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    grid-area: name;
}

@media screen and (max-width: 660px){
    .profile__username{ 
        font-size: 22px;
        line-height: 27px;
        text-align: center;
    }
}