.popup__form{
    max-width: 430px;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 500px){
    .popup__form{
        width: 282px;
        min-height: 322px;
    }   
}